* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

.intro-chunk {
    max-width: 400px;
    padding-left: 32px;
    padding-right: 32x;
}
.intro-chunk p {
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

h1 {
  font-size: 2rem;
  padding-bottom: 40px;
}

h2 {
  font-size: 1.25rem;
}

main { 
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  height: 100%;
}

.max-width-wrapper {
    max-width: 600px;
    margin: 64px auto;
    /* padding-left: 32px;
    padding-right: 32px; */
  }

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 32px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  padding: 16px 40px 16px 32px;
  margin-left: -40px;
  margin-top: -24px;
}